<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waymap.custevalusys.mapper.ConsultantEvaluationRelationMapper">
  <resultMap id="BaseResultMap" type="com.waymap.custevalusys.model.ConsultantEvaluationRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="consultant_id" jdbcType="INTEGER" property="consultantId" />
    <result column="evaluation_id" jdbcType="INTEGER" property="evaluationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, consultant_id, evaluation_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consultant_evaluation_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consultant_evaluation_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.waymap.custevalusys.model.ConsultantEvaluationRelation">
    insert into consultant_evaluation_relation (id, consultant_id, evaluation_id
      )
    values (#{id,jdbcType=INTEGER}, #{consultantId,jdbcType=INTEGER}, #{evaluationId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.waymap.custevalusys.model.ConsultantEvaluationRelation">
    insert into consultant_evaluation_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="consultantId != null">
        consultant_id,
      </if>
      <if test="evaluationId != null">
        evaluation_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="consultantId != null">
        #{consultantId,jdbcType=INTEGER},
      </if>
      <if test="evaluationId != null">
        #{evaluationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.waymap.custevalusys.model.ConsultantEvaluationRelation">
    update consultant_evaluation_relation
    <set>
      <if test="consultantId != null">
        consultant_id = #{consultantId,jdbcType=INTEGER},
      </if>
      <if test="evaluationId != null">
        evaluation_id = #{evaluationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.waymap.custevalusys.model.ConsultantEvaluationRelation">
    update consultant_evaluation_relation
    set consultant_id = #{consultantId,jdbcType=INTEGER},
      evaluation_id = #{evaluationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>